@page "/"
@using Portfolio.Blazor.Services.Theme

@inject ThemeService themeService

<div class="bg-white dark:bg-zinc-800">
    <div class="dark:bg-zinc-800">
        <div class="flex flex-col items-center justify-center h-screen dark:bg-zinc-800">
            <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Welcome to Portfolio.Blazor</h1>
            <p class="text-lg text-gray-600 dark:text-gray-400 mt-4">Get started by editing <code>Pages/Home.razor</code></p>
            <button class="bg-blue-500 dark:bg-pink-800 dark:text-white px-4 py-2 mt-4">Teste</button>
        </div>
    </div>
</div>