@using Portfolio.Blazor.Services.Theme
@inject ThemeService themeService

@inherits LayoutComponentBase

<div class="flex flex-col h-screen dark:bg-zinc-800">
    <!-- Sidebar (para telas maiores) -->
    <div class="h-full w-96 fixed top-0 left-0 z-50 dark:bg-zinc-900 hidden md:block">
        <NavMenu />
    </div> 

    <!-- Conteúdo Principal -->
    <main class="flex flex-col flex-1 ml-0 md:ml-96">
        <!-- Barra de alternância de tema -->
        <div class="h-12 w-full dark:bg-zinc-900">
            <button class="flex flex-row items-end ml-auto mr-5 bg-blue-500 dark:bg-zinc-800 dark:text-white" @onclick="ToggleTheme">Toggle Theme</button>
        </div>

        <div class="flex-1 dark:bg-zinc-800">
            @Body
        </div>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isDarkMode = await themeService.IsDarkMode();
            await themeService.SetDarkMode(isDarkMode);
        }
    }
    private async Task ToggleTheme()
    {
        await themeService.SetDarkMode(!await themeService.IsDarkMode());
    }
}
