@using Portfolio.Blazor.Services.Theme

@inject ThemeService themeService

<aside>
    <div class="p-6">
        <h2 class="text-lg font-semibold mb-4 dark:text-white">Sidebar</h2>
        <ul>
            <li class="py-1">
                <a href="#" class="dark:text-white">Link 1</a>
            </li>
            <li class="py-1">
                <a href="#" class="dark:text-white">Link 2</a>
            </li>
            <li class="py-1">
                <a href="#" class="dark:text-white">Link 3</a>
            </li>
            <li class="py-1">
                <button class="flex flex-row items-end ml-auto mr-5 bg-blue-500 dark:bg-zinc-800 dark:text-white" @onclick="ToggleTheme">Toggle Theme</button>
            </li>
        </ul>
    </div>
</aside>

@code {
    private async Task ToggleTheme()
    {
        await themeService.SetDarkMode(!await themeService.IsDarkMode());
    }
}